<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--link de fontawasone-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--link del css-->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <header class="main-header">
        <!--header mobile-->
        <img class="logo" src="/img/logo" alt="">

        <div class="search-bar">
            <input type="search">
            <i class="fas fa-search"></i>
        </div>

        <i class="fas fa-shopping-cart"></i>
        <i class="fas fa-user"></i>
        <i class="fas fa-bars"></i>

        <!-- header desktop -->
        <nav class="nav-bars-header">
            <ul>
                <input type="search">
                <li>Información</li>
                <li>Novedades</li>
                <li>Carrito</li>
                <li>Mi perfil</li>
            </ul>
        </nav>
    </header>
    
    <!--banner, después vendria el carrusel-->

    <main>
          <!-- carousel -->
          <!-- secciones -->
          <!-- sleader -->
    </main>

    <footer>
        <nav class="nav-footer">
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
    </footer>

</body>

</html>