<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product-Cart</title>
    <!--link fontawasone-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--link font-family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <!--link del css-->
    <link rel="stylesheet" href="/productCart.css">
</head>

<body>

    <main class="cart">
        <div class="title-cart">
            <h2>Carrito</h2>
            <h4>4 elementos en tu carrito</h4>
        </div>
        <hr>

        <div class="product">

            <div class="product-1">
                <img src="./img/libretas.jpg" alt="">

                <div class="product-container">
                    <p>Auriculares inal치mbricos Sony <br>
                        $3.699
                    </p>
                    <div class="icon-cart">
                        <i class="fas fa-minus"></i>
                        <i class="fas fa-plus"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div><br>
            <hr>
            <div class="product-2">
                <img src="./img/notitas.png" alt="">

                <div class="product-container">
                    <p>Joystick inal치mbrico Sony PlayStation <br>
                        $13.300
                    </p>
                    <div class="icon-cart">
                        <i class="fas fa-minus"></i>
                        <i class="fas fa-plus"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div><br>
            <hr>
            <div class="product-3">
                <img src="./img/cintas.jpg" alt="">

                <div class="product-container">
                    <p>Mu침eco Super Mario Bros Juguete<br>
                        $2.900
                    </p>
                    <div class="icon-cart">
                        <i class="fas fa-minus"></i>
                        <i class="fas fa-plus"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div><br>
            <hr>
            <div class="product-4">
                <img src="./img/ventilador.jpg" alt="">

                <div class="product-container">
                    <p>Mouse inal치mbrico recargable Tedge <br>
                        $399
                    </p>
                    <div class="icon-cart">
                        <i class="fas fa-minus"></i>
                        <i class="fas fa-plus"></i>
                        <i class="far fa-trash-alt"></i>
                    </div>
                </div>
            </div><br>
            <hr>

        </div>

        <div class="total-and-buttom">
            <p>TOTAL $20.298</p>
            <button type="submit">Realizar pedido</button> <br>
            <button type="submit">Seguir comprando</button>
        </div>

    </main>

</body>

</html>