<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minki</title>
    <!--link de fontawasone-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!--link del css-->
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <!--header minimalista y en formularios quiero una imagen de fondo fija con opacidad-->
    <header>

    </header>

    <main class="main-forms">

        <img src="" alt="">

        <h2 class="title">Registrarme</h2>

        <form class="box-form" action="" method="">

            <div class="div-forms">

                <div class="box-input">
                    <label class="label-style" for="nombre">Nombre</label>
                    <!--br??-->
                    <input class="input-style" type="text" name="name" id="nombre">
                    <span class="msj-error">Debes ingresar tu nombre</span>
                </div>

                <div class="box-input">
                    <label class="label-style" for="email">E-mail</label>
                    <input class="input-style" type="email" name="email" id="email">
                    <span class="msj-error">Debes ingresar un e-mail</span>
                </div>

                <div class="box-input">
                    <label class="label-style" for="password">Contraseña</label>
                    <input class="input-style" type="pass" name="pass" id="password">
                    <span class="msj-error">Debes ingresar una contraseña</span>
                </div>

                <div class="box-input">
                    <input type="checkbox" checked><label for="">Recordarme</label>
                </div>

                <div class="box-input">
                    <label class="label-style" for="">Aceptar los terminos y condiciones</label>
                    <input type="checkbox" checked>
                    <span class="msj-error">Debes aceptar los términos y condiciones</span>
                </div>

                <div class="box-button">
                    <button type="submit">Registrarme</button>
                    <span class="msj-error">Hubo errores en tu envio</span>
                </div>

                <span><a href="/login">Ya tengo mi cuenta</a></span>

            </div>

        </form>

    </main>

    <footer>

    </footer>
</body>

</html>