/* Mobile desde 320px */
.header {
    width: 100%;
    height: 90px; /* 15vh */ 
    background-color: #56425A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header img.img-logo {
    width: 90px;
    height: 90px;
}

#hamburger-container {
    width: 45px;
    height: 45px;
    margin: 28px 15px 0 0;
}

#hamburger button {
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    height: 35px;
    width: 50px;
}

#hamburger button span {
    border-radius: 4px;   
    background: white;
    display: block;
    width: 60%;
    margin: 5px auto;
    height: 2.5px; /* 3px tenia antes*/
    animation-duration: 0.6s; /* si o si hay habrá que ponerle una duración, sino por defecto será 0s. */
    animation-fill-mode: forwards; /* La animation-fill-modepropiedad especifica un estilo para el elemento de destino cuando la animación no se está reproduciendo.
    El elemento conservará los valores de estilo establecidos por el último fotograma clave */
}

/* animations - le asigno nombre a la animación(cada línea) */
#hamburger button.open .top-line { 
    animation-name: top-line-animation;
}

#hamburger button.open .middle-line {
    animation-name: middle-line-animation;
}

#hamburger button.open .button-line {
    animation-name: button-line-animation;
}

#hamburger button .top-line { /* le asigno nombre a la animación(al cerrar) */
    animation-name: top-line-animation-close;
}

#hamburger button .middle-line {
    animation-name: middle-line-animation-close;
}

#hamburger button .button-line {
    animation-name: button-line-animation-close;
}

@keyframes top-line-animation { /* Al hacer click: lo que hará el primer frame de la animación */

    50%, 100% { 
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }

}

@keyframes button-line-animation {

    50%, 100% { 
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
    
}

@keyframes middle-line-animation {

    20%, 100% { 
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    
}

@keyframes top-line-animation-close { /* Se encuentra en close la animación, después volvemos al mismo estado del principio */

    0% { 
        margin: 0 auto;
        transform: translateY(2px) rotate(-45deg);
    }
    50%, 100% {
        margin: 5px auto;
        transform: rotateY(0px) rotate(0deg);
    }

}

@keyframes middle-line-animation-close {

    0% { 
        margin: 0 auto;
        width: 0;
        opacity: 0;
    }
    20%, 100% {
        margin: 0 auto;
        width: 60%;
        opacity: 1;
    }
    
}

@keyframes button-line-animation-close {

    0% { 
        margin: 0 auto;
        transform: translateY(-2px) rotate(45deg);
    }
    50%, 100% { 
        margin: 5px auto;
        transform: translateY(0px) rotate(0deg);
    }
    
}