:root {
    background: #56425A;
    background-color: #f8f9fc;
    background: #E5E5E5; /* color de iconos(no es exactamente blanco) */
    background: #205AEE; /* color del azul que representa los links */
} 