<header class="header">

    <img class="img-logo" src="/img/teaForYou.png" alt="Logo Tea for you">

    <nav class="nav-list">

        <a href="">Productos destacados</a>
        <a href="">Mi carrito</a>
        <a href="">Contáctanos</a>
        <a href="">Información</a>

    </nav>
    
    <form class="form-search" action=""> 

        <input class="input-search" type="text"> 
        <a class="search-btn" href=""><i class=" fas fa-search"></i></a>
 
    </form> 
    
    <div id="hamburger-container">

        <div id="hamburger">

            <button>
                <span class="top-line"></span>
                <span class="middle-line"></span>
                <span class="button-line"></span>
            </button>

        </div>

    </div>

</header>