<header class="header">

    <img class="img-logo" src="/img/teaForYou.png" alt="Logo Tea for you">
    
    <!-- <form class="form-search" action="">
        <div class="search-bar">
            <input class="input-buscador" type="search" placeholder="¿Qué estás buscando?">
            <i class="fas fa-search"></i>  
        </div>
    </form> -->
    <!-- al lado de la hamburguesa seria la lupa, al hacer click se despliega -->
    
    <div id="hamburger-container">

        <div id="hamburger">

            <button>
                <span class="top-line"></span>
                <span class="middle-line"></span>
                <span class="button-line"></span>
            </button>

        </div>

    </div>

</header>