<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %> 

<body>

    <h1>Este es el login</h1>
    
        <form class="box-form" action="" method="">

            <div class="div-forms">

                <div class="box-input">
                    <label class="label-style" for="email">E-mail</label>
                    <input class="input-style" type="email" name="email" id="email">
                    <span class="msj-error">Debes ingresar tu e-mail</span>
                </div>

                <div class="box-input">
                    <label class="label-style" for="password">Contraseña</label>
                    <input class="input-style" type="pass" name="pass" id="password">
                    <span class="msj-error">Debes ingresar tu contraseña</span>
                </div>

                <div class="box-input">
                    <input type="checkbox" checked><label for="">Recordarme</label>
                </div>

                <div class="box-button">
                    <button type="submit">Ingresar</button>
                    <span class="msj-error">Credenciales inválidas</span>
                </div>

                <span>¿No tenés cuenta?<a href="/register">Registrarme</a></span>

            </div>

        </form>

   

    <footer>

    </footer>

</body>

</html>