<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head.ejs') %> 

<body>

    <h1>Este es el register</h1>

        <form class="box-form" action="" method="">

            <div class="div-forms">

                <div class="box-input">
                    <label class="label-style" for="nombre">Nombre</label>
                    <!--br??-->
                    <input class="input-style" type="text" name="name" id="nombre">
                    <span class="msj-error">Debes ingresar tu nombre</span>
                </div>

                <div class="box-input">
                    <label class="label-style" for="email">E-mail</label>
                    <input class="input-style" type="email" name="email" id="email">
                    <span class="msj-error">Debes ingresar un e-mail</span>
                </div>

                <div class="box-input">
                    <label class="label-style" for="password">Contraseña</label>
                    <input class="input-style" type="pass" name="pass" id="password">
                    <span class="msj-error">Debes ingresar una contraseña</span>
                </div>

                <div class="box-input">
                    <input type="checkbox" checked><label for="">Recordarme</label>
                </div>

                <div class="box-input">
                    <label class="label-style" for="">Aceptar los terminos y condiciones</label>
                    <input type="checkbox" checked>
                    <span class="msj-error">Debes aceptar los términos y condiciones</span>
                </div>

                <div class="box-button">
                    <button type="submit">Registrarme</button>
                    <span class="msj-error">Hubo errores en tu envio</span>
                </div>

                <span><a href="/login">Ya tengo mi cuenta</a></span>

            </div>

        </form>
</body>

</html>